.spacer {
    flex: 1;
  }

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    border-bottom: 1px solid grey;
    color: #1976d2;
    font-weight: 600;
    font-size: 24px;
    z-index: 1;
}

.toolbar img {
    margin: 0 5px;
}

.toolbar #facebook-logo {
    color: #1976d2;
    margin: 0 15px;
    transform: scale(1.25);
}

.toolbar #facebook-logo:hover {
    opacity: 0.8;
  }
