<mat-grid-list [cols]="headerCols" rowHeight="320px" class="header" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <div class="header-label">
            <h1 class="title">Sri SowBhagyaLakshmi Lorry Transport</h1>
            <h3 class="subtitle">FAST, EASY & RELIABLE TRUCK TRANSPORT</h3>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="header-card">
            <mat-card-content>
                <img src="./assets/images/quote.png" />
                <h1>Contact Us for Quotes</h1>
                <p><b>SMS: </b>+91 9885671366</p>
                <p><b>Call: </b>+91 9347871366</p>
            </mat-card-content>


        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


<div class="business">
    <h1> Our Business</h1>
    <p> We are trying to resolve the problems that businesses and people experience in transporting their goods due to
        the lack of professional transporter in India. We choose these trucks to do a specific type of job. Depending on
        their shapes and sizes, these trucks make the transportation of goods and freight easy. We help to minimize the
        cost of transportation by offering you a wide range of trucks. We enable you to move to any part of the country
        without any transportation problem.</p>

</div>
<div class="choose">
    <h1> Why Choose Us?</h1>
    <p> One stop shop for hiring trucks</p>
</div>
<mat-grid-list [cols]="chooseCols" rowHeight="250px" class="choose" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-content>
                <img src="./assets/images/rupee.png" />
                <h3>Transparent pricing</h3>
                <p>Quoted price is what you pay for hiring a truck</p>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-content>
                <img src="./assets/images/container-truck.png" />
                <h3>Reliable Trucks</h3>
                <p>Verified truck transporters across India</p>

            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-content>
                <img src="./assets/images/call-support.png" />
                <h3>24x7 Support (Weekdays)</h3>
                <p>Dedicated Expert will assist in booking a truck</p>

            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-content>
                <img src="./assets/images/tracking.png" />
                <h3>Track Status</h3>
                <p>We will provide timely updates on truck location and delivery status</p>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div class="process">
    <h1>How it Works?</h1>

</div>
<mat-grid-list [cols]="processCols" rowHeight="225px" class="process" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <mat-card class="">
            <mat-card-content>
                <img src="./assets/images/quotes.png" />
                <h3>Receive Quote</h3>
                <p>Instantaneously get best possible rates</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="">
            <mat-card-content>
                <img src="./assets/images/shipping-truck.png" />
                <h3>Book Truck</h3>
                <p>Quoted price is what you pay for hiring a truck</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="">
            <mat-card-content>
                <img src="./assets/images/delivery.png" />
                <h3>Delivery Updates</h3>
                <p>Get Updates from pickup to delivery</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
<div class="statistics">
    <h1> Statistics</h1>
    <p> Vital Statistics for our services</p>
</div>
<mat-grid-list [cols]="statisticsCols" rowHeight="225px" class="statistics">

    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-content>
                <img src="./assets/images/trucks.png" />
                <h3>Truck Partners</h3>
                <p>2500+</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-content>
                <img src="./assets/images/quote.png" />
                <h3>Quotes Provided</h3>
                <p>50000+</p>

            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-content>
                <img src="./assets/images/trips.png" />
                <h3>Total Trips</h3>
                <p>300000+</p>

            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-content>
                <img src="./assets/images/clients.png" />
                <h3>Happy Clients</h3>
                <p>100+</p>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>